header {
    background-color: slategray;
    padding: 20px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    position: sticky;
    top: 0;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > * {
    flex: 1;
}

header ul {
    list-style: none;
    display: flex;
    gap: 10px;
}

header a {
    color: black;
}

