*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
:root{
    --loginbg: rgb(32, 208, 132);
    --loginbg_hover: rgba(32, 208, 132, 0.559);
}
header {
    background-color: slategray;
    padding: 20px;
    display: flex;
<<<<<<< HEAD:src/components/Header/Header.css
    justify-content: space-between;
    align-items: end;
=======
    align-items: center;
>>>>>>> 00e5226098fb61276c40126ccf103110538c6145:src/components/client/Header/Header.css
    text-transform: capitalize;
    position: sticky;
    top: 0;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > * {
    /* flex: 1; */
}

<<<<<<< HEAD:src/components/Header/Header.css
ul {
    font-weight: 550;
=======
header ul {
>>>>>>> 00e5226098fb61276c40126ccf103110538c6145:src/components/client/Header/Header.css
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
}
header nav ul a:last-child{
    background-color: var(--loginbg);
    padding: .5rem 2rem;
    border-radius: 5px;
    transition: .2s;
    color: white;
}
header nav ul a:last-child:hover{
    background-color: var(--loginbg_hover);
    color: gray;
}
header a {
    color: black;
}

<<<<<<< HEAD:src/components/Header/Header.css
a:hover {
    color: gray;
}
@media only screen and (min-width:768px){
    header{
        padding: 1rem 4rem;
    }
    ul {
       
        gap: 3rem;
    }
}
=======
>>>>>>> 00e5226098fb61276c40126ccf103110538c6145:src/components/client/Header/Header.css
