

.dashboard {
    width: 100%;
    height: 100vh;
    display: flex;
}

.dashboard>nav{
    flex: 1;
    background-color: var(--bg_1);
    color: white;
<<<<<<< HEAD
    z-index: 3;
=======
>>>>>>> f682256 (hello)
}



.dashboard>nav .links{
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}

.dashboard>nav .links li{
    width: 100%;
    background-color: var(--bg_2);
    display: flex;
}

.dashboard>nav .links li a{
    width: 100%;
    padding-block: 20px;
    text-align: center;
}


.dashboard>section{
    flex: 5;
}


