* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --bg_1: rgb(20, 20, 20);
    --bg_2: #000000;
    --txt_1: #ffffff;
    --txt_2: #333333;
    --fmbrd: rgba(200, 200, 200, 0.5);
}

body {
    min-height: 100svh;
    align-items: center;
}

a{
    text-decoration: none;
    color: inherit;
}

a.active{
    background-color: var(--fmbrd);
}

main{
    min-height: 100vh;
    display: flex;
}


.auth{
    min-height: 100vh;
    background-color: var(--bg_1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    background-color: #5555fe;
    color: var(--txt_1);
    padding: 10px 20px;
    border: none;
    height: 2.5em;
    font-size: 1em;
    letter-spacing: 0.1em;
    cursor: pointer;
    text-transform: capitalize;
    border-radius: 8px;
}

/* @media (prefers-color-scheme: light) {
    :root {
        color: #213547;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}  */
